{% extends 'accounts/base.html' %}
{% load static %}
{% block main-content %}

        <!-- Page Title #1
============================================ -->
        <section id="page-title" class="page-title bg-overlay bg-overlay-dark2">
            <div class="bg-section">
                <img src="{% static 'assets/images/slider/slide-bg/9.jpg' %}" alt="Background" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                        <div class="title title-1 text-center">
                            <div class="title--content">
                                <div class="title--heading">
                                    <h1>FAQ</h1>
                                </div>
                               
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- .title end -->
                    </div>
                    <!-- .col-md-12 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>
        <!-- #page-title end -->

        <!-- Accordion #1
============================================= -->
        <section id="accordion1" class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="heading text-center mb-75">
                            <h2 class="heading--title">Asked Questions</h2>
                            <p class="heading--desc">Duis aute irure dolor in reprehed in volupted velit esse dolore</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <div class="accordion accordion-1" id="accordion01">
                            {% for i in faq %}
                            <!-- Panel 01 -->
                            <div class="panel">
                                <div class="panel--heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion01" href="#collapse01-1">{{i.questions}}</a>
                                </div>
                                <div id="collapse01-1" class="panel--body panel-collapse collapse in">
                                    <p>{{i.answer}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End .Accordion-->
                    </div>
                    <!-- .col-md-7 end -->
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <img src="{% static 'assets/images/slider/slide-bg/5274708.jpg' %}" height="400px" width="500px" alt="img">
                    </div>
                    <!-- .col-md-4 end -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </section>

        <!-- cta #1
============================================= -->
        <section id="cta" class="cta cta-1 text-center bg-overlay bg-overlay-dark pt-90">
            <div class="bg-section"><img src="assets/images/cta/bg-1.jpg" alt="Background"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                        <h3>Join our professional team & agents to start selling your house</h3>
                        <a href="#" class="btn btn--primary">Contact</a>
                    </div>
                    <!-- .col-md-6 -->
                </div>
                <!-- .row -->
            </div>
            <!-- .container -->
        </section>
        <!-- #cta1 end -->
        {% endblock main-content %}
