{% extends 'dashboard/dashboardhome.html' %}
{% load static %}
{%load crispy_forms_tags %}
{% block main-content %}

<style>
  .link_page{
    margin-bottom: 25px;
  }
.link_page a {
    color: black;
  }
</style>

<div class="page-content">
  <div class="link_page">
    <a href="{% url 'dashboard' %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
        class="bi bi-house-door-fill" viewBox="0 0 16 16">
        <path
          d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
      </svg> Dashboard</a> /
    <a href="{% url 'Testimonial' %}">Testimonials</a> /
    <a href="{% url 'addTestimonial' %}">New Testimonial</a>
  </div>
    <div class="container-fluid">
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                {{ form.name|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.position|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.content|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.image|as_crispy_field }}
              </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input class="my_btn" type="submit" value="Submit">
            </div>
            <div class="form-group">
                {{ form.status|as_crispy_field }}
              </div>
        </div>
    </div>
</form>
<div>
</div>
{%endblock main-content%}